.edit-set {
    background-color: rgb(26, 26, 27);
    width: min(100%, 400px);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}


.edit-set-inputs>table>tbody>tr>td:first-child {
    text-align: right;
}
.edit-set-inputs textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 8vh;
}
.edit-set-inputs input[type='text'] {
    width: 100%;
    box-sizing: border-box;
}
.edit-set-inputs select {
    width: 50%;
    box-sizing: 100%;
    text-align: center;
}

.edit-set-apply-button-div {
    width: 50%;
}
.edit-set-apply-button-div button {
    border-radius: 10px;
    font-size: 1.1em;
    padding: 8px 15px;
    width: 100%;
    border: none;
    background-color: rgba(96, 243, 76, 0.397);
    color: inherit;
    margin-top: 15px;
}