

.profile {
    background-color: rgb(26, 26, 27);
    width: max-content;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
@media (max-width: 500px) {
    .profile {
        margin-left:auto;
        margin-right: auto;
    }
}
@media (max-width: 440px) {
    .profile {
        width: auto;
        margin: 0 10px;
    }
}

.profile h1 {
    text-align: center;
}
.profile table {
    border-collapse: collapse;
    font-size: 1.2rem;
}
@media (max-width: 440px) {
    .profile table {
        font-size: 5vw;
    }
    .profile h1 {
        font-size: 10vw;
    }
}

.profile table tr td:nth-child(1) {
    font-weight: bold;
    text-align: right;
}
.profile table tr {
    border-bottom: 1px solid rgb(151, 151, 151);
    padding-bottom: 50px;
}

.profile-logout-div {
    align-self: center;
    margin-top: 10px;
    
}
.profile-logout-div button {
    padding: 10px 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(214, 70, 70);
    color: inherit;
}
@media (max-width: 440px) {
    .profile-logout-div button {
        font-size: 5vw;
        padding: 3vw 6vw;
    }
}