.set-info-container {
    width: 400px;
    background-color: rgb(29, 29, 31);
    height: max-content;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.3rem;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .set-info-container {
        margin: 0 auto;
        font-size: 3.5vw;
        max-width: 100%;
    }
}
@media (max-width: 440px) {
    .set-info-container {
        font-size: 4vw;
    }
}

.set-info-container h1 {
    text-align: center;
    overflow-wrap: break-word;
}
.set-info-label-description {
    font-size: 1.3em;
    margin-left: min(30px, 3vw);
    color: rgb(207, 207, 207);
}
.set-info-description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.9em;
}

.set-info-number-and-is-private {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.set-info-number-of-cards {
    font-size: 0.8em;
    color: rgb(190, 188, 188);
    width:max-content;
}
.set-info-is-private {
    margin-top: 10px;
    font-size: 1em;
    color: rgb(209, 209, 209);

}

.set-info-author-and-datetime {
    margin-top: 15px;
    width:max-content;
    text-align: right;
}
.set-info-at {
    font-size: 0.75em;
    color: rgb(201, 201, 201);
}

.set-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.set-buttons-container button {
    padding: 7px 15px;
    font-size: 0.8em;
    border: none;
    border-radius: 10px;
    color: inherit;
    width: 25%;
}
.set-buttons-container button:hover {
    transform: scale(1.05);
}
.set-buttons-container button:active {
    transform: scale(1);
}

.set-info-author span{
    text-decoration: underline dashed rgb(198, 212, 214);
}
.set-button-remove {
    background-color: rgb(73, 35, 35);
}
.set-button-add {
    background-color: rgba(82, 82, 82, 0.507);
}
.set-button-edit {
    background-color: rgb(40, 57, 71);
}
.set-button-learn {
    background-color: rgb(46, 78, 45);
}

.set-info-words-and-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


