.your-sets {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.your-sets h1 {
    text-align: center;
}
.your-sets-container {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 440px) {
    .your-sets {
        width: 100%;
    }
    .your-sets-container {
        padding: 2vw;
    }

}

.your-sets-set {
    background-color: rgb(29, 29, 31);
    padding: 15px;
    border-radius: 10px;
    width:300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 440px) {
    .your-sets-set {
        width: 100%;
    }
}


.your-sets-set h2 {
    text-align: center;
    max-width: 400px;
}
.your-sets-set h2 a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
}
.your-sets-set h2 a:hover{
    text-shadow: 0 5px 6px black;
}
.your-sets-set-created-by {
    text-align: right;
}
.your-sets-set-author {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(139, 164, 185);
    font-size: 1.1em;
}

.your-sets-set-link {
    color: inherit;
    
}
.your-sets-set-div-link {
    width: 35%;
}
.your-sets-set-link button {
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(56, 59, 63);
    border: none;
    color: inherit;
    padding: 5px 0;
}

.your-sets-button-and-created-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

}
.your-sets-set-created-by-and-number-of-cards {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}
.your-sets-set-description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}