:root {
    --side-content-width: min(12vw, 200px);

    --content-min-height: calc(100vh - var(--header-full-height));
}

.all-content {
    display: flex;
    width:100%;
    justify-content: stretch;
    box-sizing: border-box;
    min-height: var(--content-min-height);

}
.left-content {
    box-sizing: border-box;
    min-width: var(--side-content-width);
    flex-grow: 1;
}
.right-content {
    box-sizing: border-box;
    min-width: var(--side-content-width);
    flex-grow: 1;
}

.center-content {    
    box-sizing: border-box;
    font-size: 1.2rem;
    flex-grow: 5;
    overflow-x: auto;

    min-height: 100%;
    height: auto;
    
    /*min-height: 100%;
    height: auto;*/
}
.center-content>div {
    overflow-x: auto;
}


@media (max-width: 440px) {
    .left-content, .right-content {
        display: none;
    }
    .center-content {
        margin: 0 10px;
    }
}
@media (max-width: 830px) {
    .center-content>div {
        margin: 0 auto;
    }
}