
.all-content {
    display: flex;
    width:100%;
    justify-content: stretch;
    box-sizing: border-box;
}
.left-content {
    box-sizing: border-box;
    min-width: min(15vw, 200px);
    flex-grow: 1;
}
.right-content {
    box-sizing: border-box;
    min-width:min(15vw, 200px);
    flex-grow: 1;
}

.center-content {    
    box-sizing: border-box;
    font-size: 1.2rem;
    flex-grow: 3;
}

@media (max-width: 440px) {
    .left-content, .right-content {
        display: none;
    }
}