:root {
    --side-content-width: min(12vw, 200px);
}

.all-content {
    display: flex;
    width:100%;
    justify-content: stretch;
    box-sizing: border-box;
}
.left-content {
    box-sizing: border-box;
    min-width: var(--side-content-width);
    flex-grow: 1;
}
.right-content {
    box-sizing: border-box;
    min-width: var(--side-content-width);
    flex-grow: 1;
}

.center-content {    
    box-sizing: border-box;
    font-size: 1.2rem;
    /*width: calc(100vw - 2 * var(--side-content-width));*/
    flex-grow: 5;
    overflow-x: auto;
}
.center-content>div {
    overflow-x: auto;
}


@media (max-width: 440px) {
    .left-content, .right-content {
        display: none;
    }
    .center-content {
        width: 100%;
        margin: 0 10px;
    }
}